{%extends "base.html" %}
{% block content %}
    <br><br>
    <center>

    <table border="1" cellpadding="7" cellspacing="0">
    <tr>
        <td>
            <h1 style="text-align:center; color:dodgerblue; ">Django tutorial</h1>
        </td>
        <td>
            <h1 style="text-align:center; color:dodgerblue">Python tutorial</h1>
        </td>
    </tr>


    <tr>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qgGIqRFvFFk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </td>
        <td>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/41qgdwd3zAg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </td>
    </tr>
    </table>
    </center>
{% endblock %}