body{


             background: lightgray;
             margin: 0 auto;
             font-family: arial;
            }

            h1{

             color: black;
             text-align: center;
            }
      label{

       color: #777;
       width: 10%;
       display: inline-block;

      }

.container {
    padding: 16px;
}
      #container{


       padding: 20px;
       width: 60%;
       margin: 0 auto;
       margin-top: 1%;
       margin-bottom: 1%;
       background-color: white;
      }

   .userinput{

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 30px;

   }
   label{

    color: black;
    font-size: 14px;
   }
   textarea{
 color: black;
    font-size: 14px;


   }

   select{

    color: black;
   }


   .sampleBtn{

       background-color: #4CAF50;
       width: 20%;
       height: 35px;
       font-size: 16px;

   }
   .sampleBtn:hover{

          color: white;
          background-color: brown;
          cursor: pointer;
   }